.wp-admin .main-container{
	max-width: 1400px;
}

.wp-admin .main-container p{
    font-size: 1rem;
}

.wp-admin .main-container summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-block: 5px;
}

.wp-admin .main-container summary:hover{
    cursor: pointer;
}
  
.wp-admin .main-container summary::after {
    content: "\f347";
    font-family: dashicons;
    width: 18px; 
    font-size: 18px;
    margin-right: 10px;
    transition: 0.2s;
}
  
.wp-admin .main-container details[open] > summary::after {
    transform: rotate(180deg);
}

.wp-admin .main-container details[open] > summary{
    border-bottom: none;
}

.wp-admin .main-container details[open] > .details-inner{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.wp-admin .main-container .details-inner{
    border-bottom: none;
}